/*==========================================================================
Calculator
==========================================================================*/

#calc {
  display: block;
  border: solid var(--accentOrange);
  background-color: var(--accentGreen);
  border-radius: 1rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: 23rem;
  width: 15rem;
  margin: auto;
}

#calc output {
  background-color: var(--accentOrange);
  font-family: monospace;
  display: inline-block;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  width: 80%;
  overflow-wrap: break-word;
  text-align: right;
}

fieldset {
  display: inline-block;
  border: none;
}

#calc button {
  background-color: var(--accentGreen);
  color: var(--text-color);
  border: solid 0.2rem var(--accentOrange);
  border-radius: 0.3rem;
  margin: 0.7rem;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
}

#calc button:active {
  box-shadow: none;
}