/*==========================================================================
Form
==========================================================================*/
textarea {
  background: var(--accentGreen);
  min-height: 8rem;
  text-align: left;
  resize: vertical;
  transition: all 0.2s ease-in;
  width: 100%;
  color: var(--text-color);
  border-radius: 0.5rem 2rem 2rem 2rem;
  border: solid 0.2rem var(--accentOrange);
  -webkit-filter: var(--shadowSubtle);
          filter: var(--shadowSubtle);
}

.form .button {
  margin-top: 1rem;
  width: 50%;
  font-size: 1rem;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  background-color: var(--accentGreen);
  padding: 1rem;
  margin: 0 auto;
  border-radius: 0.5rem 2rem 2rem 2rem;
  border-top: solid 0.4rem transparent;
  border-left: solid 0.4rem transparent;
  -webkit-filter: var(--shadow);
          filter: var(--shadow);
}

.input-container {
  position: relative;
  margin-bottom: 1.5rem;
  color: var(--text-color);
}

.input-container label {
  position: absolute;
  top: 0.9rem;
  left: 1.7rem;
  transition: all 0.5s ease-in-out;
}

.input-container input {
  background: var(--accentGreen);
  width: 95%;
  padding: 0.5rem 0 0.2rem 0;
  text-align: left;
  margin: 0.5rem;
  color: var(--text-color);
  border-radius: 0.5rem 2rem 2rem 2rem;
  border: solid 0.2rem var(--accentOrange);
}

.input-container input:focus~label,
.input-container input:valid~label,
.input-container input:not(:placeholder-shown)~label {
  top: -1.3rem;
}

input {
  transition: all 500ms ease;
  -webkit-filter: var(--shadowSubtle);
          filter: var(--shadowSubtle);
}

input:focus {
  border-radius: 0.2rem;
  background-color: var(--accentGreen);
  outline: none;
}

textarea:focus {
  border-radius: 0.2rem;
  background-color: var(--accentGreen);
  outline: none;
}

::-webkit-input-placeholder {
  color: var(--text-color);
}

.input-container input:active {
  border-radius: 0.2rem;
  background-color: var(--accentGreen);
}

#Error {
  color: red;
  text-align: center;
}


#adress, #time{
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}